################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/backend/v16/.suo
/API/.vs/API/v16/.suo

*.sqlite
.vs